* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.site-header {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 100px;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 4px 10px 0px rgba(34, 60, 80, 0.2);
}

.cont {
  margin-top: 120px;
}

#searchbar {
  padding: 12px 220px 12px 25px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid #007fff;
}
#searchbar:focus{
  outline: none;
}

.select-region {
  padding: 12px 25px 12px 25px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #007fff;
}
.select-region:focus{
  outline: none;
}

.card-img-top {
  height: 14rem;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  border: none;
}

.card {
  border-radius: 8px;
  width: 100%;
}

.hidden {
  display: none;
}

.back-btn-container{
  margin-top: 40px;
}
.back-btn{
  text-decoration: none;
  border: 2px solid #007fff;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
}
.back-btn:hover{
   background-color: #007fff;
   color: #fff;
}
.back-btn:active{
  opacity: 0.8;
}